body
{
    background: black;
    color: white;
    margin-bottom: 60px;
}

marquee
{
	color: #8e5459;
}

#side-pic  
{
    width: 25%;
    margin: auto;
    display: block;
    border-radius: 50%;
}

hr
{ 
    background-color: #8e5459; 
    height: 1px; 
    border: 0; 
}

.img-logo
{
    width: 15%;
    height: auto
}

.img-logo
{
    width: 15%;
    height: auto
}

.section-title
{
    text-align: center;
}

.section-subtitle
{
    text-align: center;
}

.section-bold-title
{
    font-weight: bold;
}

.section-text
{
    text-align: center;
}

.section-li
{
    text-align: center;
    display: inline-block;
}

.main
{
    padding: 4%;
}

#bolded-line
{
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}