body
{
    background: black;
    color: white;
}

marquee
{
/*    position: absolute;*/
/*    z-index: 1000;*/
	color: #8e5459;
/*	color: cyan;*/
}

#side-pic  
{
    width: 100%;
    height: auto;
/*    position: sticky;*/
}

hr
{ 
/*    background-color: red; */
    background-color: #8e5459; 
    height: 1px; 
    border: 0; 
}

.img-logo
{
    width: 15%;
    height: auto
}

.section-title
{
    text-align: center;
}

.section-subtitle
{
    text-align: center;
}

.section-bold-title
{
    font-weight: bold;
}

.section-text
{
    text-align: center;
}

.section-li
{
    text-align: left;
}
/*
@media (max-width: 250px) {
  .section-li
    {
        text-align: center;
    }

}
*/

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        z-index: 1000;
    }
/*
    marquee {
        z-index: 10000;
    }
*/
}

.main
{
    float: right;
}

#bolded-line
{
    font-weight: bold;
}